
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
    
    
    <nav class="navbar navbar-inverse nav">
        <div class="">
          <div class="">
            <a class="navbar-brand">Assistini</a>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-primary me-md-2 rounded" 
          routerLink="">Logout</button> 
        </div>
        </div>
      </nav>

    <form class="submission-form shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded">  
           
        <div class="contact">
            <h2 class="titre">Informations de contact</h2>
            <div class="" >
                <input class="form-control" type="text" placeholder="Nom">
            </div>
            <div class="contact-flex">
                <input class="form-control" type="text" placeholder="Adresse">
            </div>
            <div class="contact-flex">
                <input class="form-control" type="text" placeholder="Telephone">
            </div>
            <div class="contact-flex">
                <input class="form-control" type="text" placeholder="e-mail">
            </div>   
        </div>
    
    </div>

    <div class="card card-body shadow-lg p-3 mb-5 bg-body rounded">
        <div class="contact">
            <h2 class="titre">Expériences professionnelles  </h2>
            <div class="contact-flex" >
                <input class="form-control" type="text" placeholder="Poste">
            </div>
            <div class="contact-flex">
                <input class="form-control" type="text" placeholder="Societé">
            </div>
            <div class="contact-flex">
                <label>Date du début:</label>
                 <input class="form-control btn btn-primary btn-lg btn-block" type="date"> <label>Date fin: </label>
                 <input class="form-control btn btn-primary btn-lg btn-block" type="date">
            </div>
            <div class="contact-flex">
                <textarea class="form-control" cols="30" rows="10" type="text" placeholder="description"></textarea>
            </div>
            <button class="btn btn-primary btn-lg btn-block" (click)="onAddExperience()">Ajouter une expérience</button>
        </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="contact">
            <h2>Formation </h2>
            <div class="contact-flex" >
                <input class="form-control" type="text" placeholder="Ecole">
            </div>
            <div class="contact-flex">
                <input class="form-control" type="text" placeholder="Diplome">
            </div>
            <div class="contact-flex">
                <label>Date du début:</label> 
                <input class="form-control btn btn-primary btn-lg btn-block" type="date"> <label>Date fin: </label>
                <input class="form-control btn btn-primary btn-lg btn-block" type="date">
            </div>
            <div class="contact-flex">
                <textarea class="form-control" cols="30" rows="10" type="text" placeholder="description"></textarea>
            </div>
            <button class="btn btn-primary btn-lg btn-block" (click)="onAddFormation()">Ajouter une formation</button>
        </div>
    </div>
    
    
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="contact">
            <h2 class="titre">Compétences</h2>
            <div class="competence">
                <label>Professionnelle</label><br><input class="form-control" type="text">
                
            </div> 
            <div class="competence">    
                <label>Personnelle</label><br><input class="form-control" type="text">
                
            </div>     
        </div>
    </div>
    
    <button class="btn btn-primary btn btn-primary btn-lg btn-block" 
    type="submit" (click)="onTest()">Passer le test psychologique</button>
</form>
</body>