<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
  
  

<div class="wrapper fadeInDown">
  <div id="formContent">
      <h1>Login</h1>  
    <!-- Login Form -->
    <form [formGroup]="form">
      <input type="text"  class="fadeIn second"  formControlName="utilisateur" placeholder="username">
      <input type="text"  class="fadeIn third" formControlName="mdp" placeholder="password">
      <div class="pswd">
        <a routerLink="pswd-oublie">Forgot Password  </a>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="Login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      
      <a class="underlineHover left " routerLink="create-account">Create account</a>
    </div>

  </div>
</div>

</body>
</html>