<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
  
  

<div class="wrapper fadeInDown">
  <div id="formContent">
      <h1>Login</h1>  
    <!-- Login Form -->
    <form [formGroup]="form" action="" class="needs-validation">

      
      <input type="text"  class="form-control fadeIn second"  formControlName="utilisateur" placeholder="username" required>

      
      
      <input type="text"  class="fadeIn third" formControlName="mdp" placeholder="password" required>

      


      <div class="pswd">
        <a routerLink="pswd-oublie">Forgot Password  </a>
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="Login()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      
      <a class="underlineHover left " routerLink="create-account">Create account</a>
    </div>

  </div>
</div>


</body>
</html>