<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>



<div class="wrapper fadeInDown">
  <div id="formContent">
      <h1>Login</h1>
    <!-- Tabs Titles -->



    <!-- Login Form -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <input type="text"  class="fadeIn second"  formControlName="username" placeholder="username">
      <input type="password"  class="fadeIn third" formControlName="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In"  [disabled]="userForm.invalid">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

    <div >
      <a class="underlineHover" routerLink="register">Create account</a>
    </div>

  </div>
</div>

</body>
</html>
