/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';

@font-face {
    font-family: Caveat;
    src: url(assets/fonts/Caveat-Medium.ttf) format('truetype');
}
@font-face {
    font-family: Notoserif;
    src: url(assets/fonts/NotoSerif-Regular.ttf)format('truetype');
}

.Caveat{
    font-family: Caveat;
}
.Notoserif{
    font-family: Notoserif;
}